## Dependent Variable Exploration and Cleaning
The goal here is to get familiar with the dependent variables. Look at distributions, time series patterns, and develop a cleaning methodology consistent with `fed_tools.py`.

In [1]:
directory = '/Users/danielsalas/Projects/Fed-NLP-Scrape/'
import sys
sys.path.append(directory+'src')

from fed_tools import *

In [23]:
# dataframes
fed_funds = pd.read_csv(directory+'data/DFF.csv',parse_dates=['DATE'])
sp500 = pd.read_csv(directory+'data/^GSPC.csv',parse_dates=['Date'])
tbill_10y = pd.read_csv(directory+'data/DGS10.csv',parse_dates=['DATE'])
tbill_3m = pd.read_csv(directory+'data/DTB3.csv',parse_dates=['DATE'])

In [13]:
# new file names
dep_var_data

{'3m': 'T-bill_3m.csv',
 '10y': 'T-bill_10y.csv',
 'fedfunds': 'fedfunds.csv',
 'sp500': 'sp500_dailyclose.csv'}

### Fed Funds Rate

In [6]:
fed_funds.head()

         DATE   DFF
0  1954-07-01  1.13
1  1954-07-02  1.25
2  1954-07-03  1.25
3  1954-07-04  1.25
4  1954-07-05  0.88

In [27]:
fed_funds.rename({'DATE':'date','DFF':'val'},axis='columns',inplace=True)
fed_funds.to_csv(directory+'data/'+dep_var_data['fedfunds'],
                 columns=['date','val'],
                 index=False)

### S&P 500

In [16]:
sp500.head()

        Date   Open   High    Low  Close  Adj Close   Volume
0 1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1 1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2 1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3 1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4 1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [28]:
# let's go with adjusted close for now
sp500.rename({'Date':'date','Adj Close':'val'},axis='columns',inplace=True)
sp500.to_csv(directory+'data/'+dep_var_data['sp500'],
             columns=['date','val'],
             index=False)

### 10 year

In [21]:
tbill_10y.head()

         DATE DGS10
0  1962-01-02  4.06
1  1962-01-03  4.03
2  1962-01-04  3.99
3  1962-01-05  4.02
4  1962-01-08  4.03

In [29]:
tbill_10y.rename({'DATE':'date','DGS10':'val'},axis='columns',inplace=True)
tbill_10y.to_csv(directory+'data/'+dep_var_data['10y'],
                 columns=['date','val'],
                 index=False)

### 3 month

In [24]:
tbill_3m.head()

        DATE   DTB3
0 1954-01-04  1.330
1 1954-01-05  1.280
2 1954-01-06  1.280
3 1954-01-07  1.310
4 1954-01-08  1.310

In [30]:
tbill_3m.rename({'DATE':'date','DTB3':'val'},axis='columns',inplace=True)
tbill_3m.to_csv(directory+'data/'+dep_var_data['3m'],
                columns=['date','val'],
                index=False)

## Data Exploration
I've packaged the above cleaning methods into a function called `clean_dep_data` in `fed_tools.py`. Takes no arguments and creates/overwrites existing files. Time to move onto EDA.